---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// Generate a new path for every collection entry
export async function getStaticPaths() {
    const project = await getCollection('projects');
    return project.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout title={entry.data.title}>
    <main>
        <section>
            <div class="header">
                <h1 style="line-height: 1;">About {entry.data.title}</h1>
                <nav class="half-opacity monospace"><a href="../">← Home</a></nav>
            </div>    
            <div class="image" style=`background-color: #${entry.data.color};`>
                <img src={entry.data.image.src} alt={entry.data.title}>
            </div>
            <Content />
            <a href={entry.data.link} class="btn">Visit site</a>
        </section>
    </main>
</Layout>
<style>
    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
    }
    .image img {
        height: 100px;
    }
    section {
        gap: 10px;
    }
</style>